.poljeIspravno {
    -fx-control-inner-background: greenyellow;
}
.poljeNijeIspravno {
    -fx-control-inner-background: lightpink;
}
.dodaj{
    -fx-graphic: url("img/add.png");
    -fx-graphic-text-gap: 20px;

}
.brisi{
    -fx-graphic: url("img/delete.png");
    -fx-graphic-text-gap: 20px;
}
.edit{
    -fx-graphic: url("img/change.png");
    -fx-graphic-text-gap: 20px;
}
.exit{
    -fx-graphic: url("img/exit.png");
    -fx-graphic-text-gap: 20px;
}
.new{
    -fx-graphic: url("img/new.png");
    -fx-graphic-text-gap: 20px;
}
.log{
    -fx-graphic: url("img/log.png");
    -fx-graphic-text-gap: 20px;
}
.list{
    -fx-graphic: url("img/list.png");
    -fx-graphic-text-gap: 20px;
}
.return{
    -fx-graphic: url("img/return.png");
    -fx-graphic-text-gap: 20px;
}
.borrow{
    -fx-graphic: url("img/borrow.png");
    -fx-graphic-text-gap: 20px;
}
.money{
    -fx-graphic: url("img/money.png");
    -fx-graphic-text-gap: 20px;
}

.image{
    -fx-background-image: url("img/Background.jpg");
    -fx-background-size: cover;
}
.image2{
    -fx-background-image: url("img/main_background.jpg");
    -fx-background-size: cover;
}
.image3{
    -fx-background-image: url("img/price_list.png");
    -fx-background-size: cover;
}